.top-header-bgcolor {
    background: rgb(240, 240, 233) !important;
}
.font-weight-600 {
    font-weight: 600;
}
.index-page-active-price {
    color: #FE980F !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}
.font-size-16px {
    font-size: 16px;
}
.margin-top-25px {
    margin-top: 25px;
}
.div-image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
    margin: 15px auto 0 auto;
}
.message-from-cart-action {
    position:fixed;
    top: 20px;
    right: 40px;
    width: 350px;
    z-index:9999;
    font-size: 18px;
    color: #155724;
    padding: 30px 50px;

}
.display-none {
    display: none;
}
.background-success {
    background: #d4edda;
    border: 1px solid #d4edda;
    border-radius: 5px;
}
.background-error {
    background: #f8d7da;
    border: 1px solid #f8d7da;
    border-radius: 5px;
}
