.top-header-bgcolor {
    background: rgb(240, 240, 233) !important;
}
.font-weight-600 {
    font-weight: 600;
}
.index-page-active-price {
    color: #FE980F !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}
.font-size-16px {
    font-size: 16px;
}
.margin-top-25px {
    margin-top: 25px;
}
.div-image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
    margin: 15px auto 0 auto;
}
.div-pizza-shop-image {
    max-width: 100%;
    width: 400px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
    margin: 15px auto 0 auto;
}
.div-image-modal-show-order-products {
    max-width: 100%;
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
    margin: 15px auto 0 auto;
}
.message-from-cart-action {
    position:fixed;
    top: 20px;
    right: 40px;
    width: 350px;
    z-index:9999;
    font-size: 18px;
    color: #155724;
    padding: 30px 50px;

}
.display-none {
    display: none;
}
.background-success {
    background: #d4edda;
    border: 1px solid #d4edda;
    border-radius: 5px;
}
.background-error {
    background: #f8d7da;
    border: 1px solid #f8d7da;
    border-radius: 5px;
}
.background-none { background: none !important; }
.font-size-22px { font-size: 22px !important; }
.font-size-21px { font-size: 21px !important; }
.font-size-20px { font-size: 20px !important; }
.font-size-19px { font-size: 19px !important; }
.font-size-18px { font-size: 18px !important; }
.font-size-17px { font-size: 17px !important; }
.font-size-16px { font-size: 16px !important; }

.div-card-image {
    max-width: 100%;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
}
.header-cart-total {
    font-weight: 500;
    background: none;
    font-size: 20px;
    text-transform: capitalize;
    float: right;
    margin-top: -3px;
    margin-left: 3px;
    border-radius: 100%;
    text-align: center;
    line-height: 1;
}
.cursor-pointer { cursor: pointer; }
.margin-top-100px { margin-top: 100px !important; }
.margin-left-20px { margin-left: 20px; }
.color-fff { color: #FFFFFF !important;}
.padding-top-9px { padding-top: 9px !important; }
.padding-left-15px { padding-left: 15px !important; }
.color-red { color: red; !important;}
.padding-bottom-100px { margin-bottom: 100px; }
.padding-bottom-150px { margin-bottom: 150px; }
.padding-bottom-200px { margin-bottom: 200px; }
.padding-bottom-250px { margin-bottom: 250px; }
.padding-bottom-350px { margin-bottom: 350px; }
.display-pink-border {
    border: 1px solid  #FE980F !important;
    box-shadow: 0 0 20px #FE980F;
    transition: all 1s ease;
}
.main-color { color: #FE980F; }
.width-60 { width: 60% !important; }
.float-none { float: none !important; }
